# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
tp/TP/bin/
tp/TP/obj/

#tp/TP/bin/Debug/RecipeList.mdf
#tp/TP/bin/Debug/RecipeList.vshost.exe.manifest
#tp/TP/bin/Debug/RecipeList_log.ldf
#tp/TP/obj/Debug/RecipeList_Content.g.cs
#tp/TP/obj/Debug/RecipeList_Content.g.i.cs
TP/obj/
TP/bin/
